<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events | Turtle Shelter Project</title>
    <link rel="stylesheet" href="/css/requested_events.styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <i class="fas fa-home"></i> <!-- Home icon -->
                    <span class="logo-text">Turtle Shelter Project</span>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="main-menu">
                    <li><a href="/request_event">Request Event</a></li>
                    <li><a href="/jens_story">Jen's Story</a></li>
                    <li><a href="/our_tech">Our Tech</a></li>
                    <li><button class="btn-secondary" onclick="location.href='/get_involved'">Get Involved</button></li>
                    <li><button class="btn-secondary" onclick="location.href='/donate'">Donate</button></li>
                     <% if (isAdmin) { %>
                        <div class="circle-icon" onclick="toggleLogout()">A</div> <!-- Circle icon with the initial J -->
                        <div id="logout-option" class="logout-option">
                            <a href="/messages" class="logout-link"><b>Messages</b></a>
                            <a href="/help" class="logout-link"><b>Help</b></a>
                            <a href="/logout" class="logout-link" onclick="logout()"><b>Logout</b></a>
                        </div>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                    <div class="navbar-toggler">
                        <i style="font-size: x-large;"class="fas fa-bars"></i> <!-- Hamburger icon -->
                    </div>
                </ul>
            </div>
                <div class="sidebar" id="sidebar">
                    <button class="close-btn" onclick="toggleSidebar()">×</button>
                    <ul class="sidebar-links">
                        <li><a href="/#contact-us-form">Contact Us</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/sponsor_us">Sponsor Us</a></li>
                        <li><a href="/upcoming_events">Upcoming Events</a></li>
                        <% if (isAdmin) { %>
                            <li><a href="/requested_events"><b>Requested Events</b></a></li>
                            <li><a href="/event_dashboard"><b>Event Dashboard</b></a></li>
                            <li><a href="/completed_events"><b>Completed Events</b></a></li>
                            <li><a href="/volunteers"><b>Volunteers</b></a></li>
                            <li><a href="/user_maintenance_view"><b>User Maintenance</b></a></li>
                        <% } %>
                    </ul>
                </div>
        </nav>
    </header>
    <% if (!isAdmin) { %>
        <section class="upcoming-img">
            <img src="images/service_group10.jpg" alt="Turtle Shelter Project">
            <div class="upcoming-text">
                <h1 style="color: white;">Join us at Our Upcoming Events Below!</h1>
            </div>
        </section>
    <% } %>
    <div class="table-container">
        <h1>Upcoming Events</h1>
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event Start Time</th>
                    <% if (isAdmin) { %>
                        <th>Contact Name</th>
                        <th>Contact Phone</th>
                        <th>Contact Email</th>
                        <th>Event Location</th>
                        <th>Event Duration (hrs)</th>
                        <th>Event Type</th>
                        <th>Expected Sewers</th>
                        <th>Sewing Machines</th>
                        <th>Expected Participants</th>
                        <th>Kids Under Age 10</th>
                        <th>Story</th>
                        <th>Available Round Tables</th>
                        <th>Available Rectangle Tables</th>
                        <th>Event Description</th>
                        <th>Event Status</th>
                        <th>Complete</th>
                        <th>Edit/View</th>
                        <th>Delete</th>
                    <% } else { %>
                        <th>Event Duration (hrs)</th>
                        <th>Event Location</th>
                        <th>Event Description</th>
                        <th>Volunteer</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% if (event_request.length > 0) { %> <!-- Check if there are events -->
                    <% event_request.forEach(function(event) { %> 
                        <tr>
                            <input type="hidden" value="<%= event.event_id %>">
                            <td><%= event.event_name %></td>
                            <td><%= event.actual_date.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                            <td><%= event.event_start_time.split(':').slice(0, 2).join(':') %></td>
                            <% if (isAdmin) { %>
                            <td><%= event.first_name %> <%= event.last_name %></td>
                            <td><%= event.phone %></td>
                            <td><%= event.event_contact_email %></td>
                            <td><%= event.event_address %> <%= event.event_city %>, <%= event.event_state %> <%= event.event_zip %></td>
                            <td><%= event.event_duration %></td>
                            <td><%= event.event_type %></td>
                            <td><%= event.expected_advanced_sewers %></td>
                            <td><%= event.sewing_machines_available %></td>
                            <td><%= event.expected_participants %></td>
                            <td><%= event.children_under_10 %></td>
                            <td><%= event.jen_story ? 'Yes' : 'No' %></td>
                            <td><%= event.round_tables_count %></td>
                            <td><%= event.rectangle_tables_count %></td>
                            <td><%= event.event_description %></td>
                            <td><%= event.event_status %></td>
                            <td>
                                <div class="table-action-buttons">
                                    <form action="/completeEvent/<%= event.event_id %>" method="GET" style="display:inline;">
                                        <button type="submit" class="btn-schedule-event">Completed</button> <!--FUNCIONALITY FOR THIS BUTTON NEEDS TO BE MADE-->
                                    </form>
                                </div>
                            </td>
                            <td>
                                <div class="table-action-buttons">
                                    <form action="/editUpcomingEvent/<%= event.event_id %>" method="GET" style="display:inline;">
                                        <button type="submit" class="btn-edit-event">Edit/View</button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <div class="table-action-buttons">
                                    <form action="/adminDeleteEvent/<%= event.event_id %>" method="POST" style="display:inline;">
                                        <button type="submit" class="btn-delete-event" onclick="return confirm('Are you sure you want to delete this scheduled record? This will be permanetly be deleted and can no longer be edited');">Delete</button>
                                    </form>
                                </div>
                            </td>
                            <% } else { %>
                                <!-- Non-admin view -->
                                <td><%= event.event_duration %></td>
                                <td><%= event.event_address %> <%= event.event_city %>, <%= event.event_state %></td>
                                <td><%= event.event_description %></td>
                                <td><button class="btn-signup" onclick="location.href='/get_involved'">Volunteer</button></td>
                            <% } %>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="<%= isAdmin ? 23 : 3 %>">No event data available</td>
                    </tr>                    
                <% } %>
                <% if (isAdmin) { %>
                <form action="/admin_schedule_event" method="GET" style="display: flex; justify-content: center; margin: 20px 0;">
                    <button class="btn-add" type="submit"><i class="fas fa-plus"></i>  Add Event</button>
                    <br>
                    <% } %>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer">
            <!-- Contact Information -->
            <div class="contact">
                <h2>Connect with Us!</h2>
                <p>Phone: 801-872-3190</p>
                <p>Email: turtleshelterproject@gmail.com</p>
                <p>Address: PO Box 382, Kaysville, UT 84037</p>
            </div>
    
            <!-- Social Media Links (Icons) -->
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/turtleshelterproject" target="_blank" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
    
            <!-- Copyright Text -->
            <p>&copy; 2024 Turtle Shelter Project. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>